---
// Components
import Layout from "@/layouts/Layout.astro";
// Data
import { siteData, socialMedia } from "@/data/global";
import ContactForm from "@/components/ContactForm.astro";
// Current URL
const currentURL = Astro.url.href;
---
<Layout 
	pageTitle={`${siteData.name} | Talk To Me`}
	pageDescription="Got a project? A vision? A weird idea at 3AM? Drop it in the form."
	currentURL={currentURL}
	ogImage="https://fscms.nova.filipsteficar.com/api/files/pbc_1063624087/c5iyxwk08jcszsd/filip_steficar_art_1_adnbf0tfww.webp"
	ogImageAlt="Portrait of Filip Štefičar"
	articleAuthor={siteData.author}
>
<section>
	<div class="flex lg:flex-row flex-col justify-center lg:items-center gap-fluid-sm mx-auto mt-fluid-sm px-fluid-sm min-h-screen container">
		<div class="flex flex-col gap-fluid-sm w-full lg:w-1/2">
			<h1 class="text-fluid-2xl leading-tight">Filip. Filip. Filip! There - you summoned me. What do you need?</h1>
			<p>Got a project? A vision? A weird idea at 3AM? Drop it in the form. I answer real humans, robots with manners, and anyone who promises not to send me "Hello Dear" spam.</p>
			<div class="flex flex-row flex-wrap gap-fluid-sm">
				{socialMedia?.map((item) => (
				<a href={item.href || "/"} class="bg-zinc-100 hover:bg-zinc-200 hover:dark:bg-zinc-800 dark:bg-zinc-900 px-fluid-sm py-fluid-2xs rounded-full transition-colors duration-500 ease-in-out" target="_blank" rel="noopener noreferrer">{item.label || "Unknown"}</a>
				))}
			</div>
		</div>
		<div class="mb-fluid-sm w-full lg:w-1/2">
			<ContactForm />
		</div>
	</div>
</section>
</Layout>