---
// ContactForm + n8n Webhook
const formActionDev = "https://n8n.nova.filipsteficar.com/webhook-test/67e8015a-c036-4236-8a4b-e55de37873fa";
const formActionProd = "https://n8n.nova.filipsteficar.com/webhook/67e8015a-c036-4236-8a4b-e55de37873fa";
---
<form action={formActionProd} method="POST" class="flex flex-col gap-fluid-sm mt-fluid-sm">
    <div class="cf-turnstile" data-sitekey="0x4AAAAAACFPruQu0TCYhT0U"></div>

    <input class="bg-zinc-100 dark:bg-zinc-900 px-fluid-sm py-fluid-2xs rounded-2xl" type="text" id="name" name="name" placeholder="Your Name" required />

    <input class="bg-zinc-100 dark:bg-zinc-900 px-fluid-sm py-fluid-2xs rounded-2xl" type="email" id="email" name="email" placeholder="Your E-Mail" required />

    <textarea class="bg-zinc-100 dark:bg-zinc-900 px-fluid-sm py-fluid-2xs rounded-2xl" id="message" name="message" minlength="1" placeholder="Your Message" rows="6" required></textarea>

    <button class="bg-zinc-100 hover:bg-zinc-200 hover:dark:bg-zinc-800 dark:bg-zinc-900 px-fluid-sm py-fluid-2xs rounded-full transition-colors duration-500 ease-in-out cursor-pointer" type="submit">Send</button>
</form>