---
import { siteData, contactInfo } from "@/data/global";
---
<footer class="bg-zinc-50 dark:bg-zinc-950 mt-auto border-zinc-100 dark:border-zinc-900 border-t-2">
    <div class="flex flex-row justify-between mx-auto p-fluid-sm text-zinc-700 dark:text-zinc-300 container">
        <p>{siteData.copyright}</p>
        <a href=`mailto:${contactInfo.email}` class="hover:text-zinc-950 dark:hover:text-zinc-50 hover:underline underline-offset-2">{contactInfo.email}</a>
    </div>
</footer>