---
import { siteData, mainMenu } from "@/data/global";
---
<header class="bg-neutral-100 dark:bg-neutral-900 border-neutral-200 dark:border-neutral-800 border-b-2">
    <nav class="flex flex-row flex-wrap justify-between items-center gap-fluid-sm mx-auto p-fluid-sm container">
        <a href="/" class="font-heading font-extrabold transition-colors duration-500 ease-in-out">{siteData.name}</a>
        <ul class="flex flex-row flex-wrap gap-fluid-sm">
            {mainMenu?.map((item) => (
                <li class="flex flex-row flex-wrap gap-fluid-sm">
                    <a href={item.href || "/"} class="">{item.label || "Unknown"}</a>
                </li>
            ))}
        </ul>
    </nav>
</header>