---
// Components
import { Image } from 'astro:assets';
---
<div class="gap-fluid-sm grid grid-cols-1 lg:grid-cols-2 mx-auto mt-fluid-sm px-fluid-sm container">
    <div class="flex flex-col justify-center gap-fluid-sm">
        <h1 class="leading-tight">Hi, I'm Filip! My Job Title? Yes.</h1>
        <p>As a creative entrepreneur, I'm juggling photography, graphic and 3D design, coding, music production, 3D printing & whatever's left of my sanity.</p>
        <div class="flex flex-row gap-fluid-sm">
            <a href="/contact" class="self-start bg-woodland-100 hover:bg-woodland-200 hover:dark:bg-woodland-800 dark:bg-woodland-900 px-fluid-sm py-fluid-2xs rounded-full transition-colors duration-500 ease-in-out">Summon Me</a>
            <a href="/about" class="self-start bg-zinc-100 hover:bg-zinc-200 hover:dark:bg-zinc-800 dark:bg-zinc-900 px-fluid-sm py-fluid-2xs rounded-full transition-colors duration-500 ease-in-out">Who Dis?</a>
        </div>
    </div>
    <Image
    class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm"
    src="https://fscms.nova.filipsteficar.com/api/files/pbc_1063624087/c5iyxwk08jcszsd/filip_steficar_art_1_adnbf0tfww.webp"
    alt="Filip Štefičar Looking At The Camera, Holding His Phone"
    inferSize={true}
    loading="eager"
    />
</div>