---
// PocketBase Interface
import type { PocketBaseToolbox } from "@/types/pocketbase";
// Call PocketBase API
const response = await fetch(
    'https://fscms.nova.filipsteficar.com/api/collections/toolbox/records'
);
const data = await response.json();
const toolbox: PocketBaseToolbox[] = data.items;
---
<div class="mx-auto px-fluid-sm container">
	<h3>My Toolbox</h3>
	<p class="w-full lg:max-w-1/2">Heads up: a few of these are affiliate links. If you grab something, I earn a tiny commission (you pay nothing extra). It helps me keep the lights on - literally.</p>
	<div class="flex flex-row flex-wrap gap-fluid-sm mt-fluid-sm">
		{toolbox?.sort((a, b) => a.name.localeCompare(b.name)).map(tool => (
		<div class="flex flex-col gap-fluid-sm">
			<a href={tool.link + (tool.link.includes('?') ? '&' : '?') + "utm_source=filipsteficar.com&utm_medium=portfolio&utm_campaign=toolbox"} class="bg-zinc-100 dark:bg-zinc-900 p-fluid-sm border-2 border-zinc-200 hover:border-woodland-500 dark:border-zinc-800 transition-all hover:-translate-y-1 duration-500 ease-in-out" target="_blank" rel="noopener noreferrer">{tool.name}</a>
		</div>
		))}
	</div>
</div>